body {
    background-color: rgba(0, 0, 0, 0.884);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    font-family: 'Helvetica';
}
.container div {
    display: flex;
    flex-direction: column;
}
.caixa-header{
    margin: 0px;
    padding: 20px;
    background-color: #600073;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    margin-bottom: 3px;
}
input[type=text], select {
    padding: 4px;
    border-radius: 4px;
    border-color: white;
    margin-bottom: 3px;
}
.caixa-content {
    margin: 0px;
    padding: 20px;
    background-color: blueviolet;
    color: white;
}
.caixa-bottom {
    margin: 0px;
    padding: 20px;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-color: #aa00cc;
    border-color: #aa00cc;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3px;
}
.texto {
    font-family: sans-serif;
    margin-bottom: 2px;
}
button {
    margin: 0px;
    padding: 10px;
    background-color: #aa00cc;
    color: white;
    margin-left: 175px;
    border-radius: 15px;
}
.light-mode {
    background-color: white;
}
.light-mode-header {
    background-color: #7B0F28;
}
.light-mode-content {
    background-color: #EC6988;
}
.light-mode-bottom {
    background-color: #D61A46;
    border-color: #D61A46;
}
.light-mode-text {
    color: black;
}